@tailwind base;
@tailwind components;

.leaflet-container {
  width: 100vw;
  height: 100svh;
  background-color: #ffffcc;
  font-family: "Quicksand";
}

.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}

/* Scrollbar style Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 0.75rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1d1a7; /*var(--secondary); */
  border-radius: 14px;
  border: 0.15rem solid rgb(248 250 252);
}

@tailwind utilities;

@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"; /* Leaflet styles */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300;400;500;600;700&display=swap");
