@tailwind base;
@tailwind components;

.leaflet-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffcc;
  font-family: "Quicksand";
}

.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}

@tailwind utilities;

@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"; /* Leaflet styles */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
