@tailwind base;
@tailwind components;

body {
  background-color: #f9c03f;
  font-family: "Quicksand";
  overflow: hidden;
}

.leaflet-container {
  width: 100vw;
  height: 100svh;
  background-color: #ffffcc;
  font-family: "Quicksand";
}

/* Animate marker fading in */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-tooltip {
  position: absolute;
  padding: none;
  background-color: none;
  border: none;
  border-radius: none;
  color: none;
  white-space: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  box-shadow: none;
}

.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top {
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 0 !important;
}

.leaflet-bottom {
  z-index: 0 !important;
}

/* Leaflet zoom control thingy */
.leaflet-control-zoom {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/* the zoom buttons */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 10px;
}
.leaflet-bar a {
  /* MAIN ONE FOR THE ZOOM IN OUT BUTTONS */
  background-color: #f9c03f;
  border: 1px solid #f9c03f;
  /* width: 26px;
  height: 26px;
  line-height: 26px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center;
  text-decoration: none; */
  color: #ffffcc; /* Color of plus minus sign */
}
.leaflet-bar a:hover {
  background-color: #d3a335;
  border: 1px solid #d3a335;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffcc; /* Color of plus minus sign */
}
.leaflet-bar a:focus {
  background-color: #d3a335;
  border: 1px solid #d3a335;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffcc; /* Color of plus minus sign */
}
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #dcbc71;
  border: 1px solid #dcbc71;
  color: #e9e3d7;
}

.leaflet-touch .leaflet-bar a {
  /* size of zoom in zoom out */
  width: 2.5rem;
  height: 2.5rem;
  line-height: 30px;
}

.leaflet-touch .leaflet-bar {
  border: 1px solid #ffffcc;
  border-radius: 10px;
  /* background-color: #f9c03f; */
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 2rem "Quicksand";
  text-indent: 1px;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 1.75rem;
}

/* Scrollbar style Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 0.75rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1d1a7; /*var(--secondary); */
  border-radius: 14px;
  border: 0.15rem solid rgb(248 250 252);
}

@tailwind utilities;

@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"; /* Leaflet styles */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300;400;500;600;700&display=swap");
